<ion-content [fullscreen]="true">
  <div>
    <h1 class="titulo">Cadastro</h1>
  </div>
  <div>
    <ion-input class="input-box" label="Nome" label-placement="floating" fill="outline" placeholder="Nome"></ion-input>
  </div> <br>
  <div>
    <ion-input class="input-box" label="Usuário" label-placement="floating" fill="outline" placeholder="Usuário"></ion-input>
  </div> <br>
  <div>
    <ion-input class="input-box" label="Email" label-placement="floating" fill="outline" placeholder="Email"></ion-input>
  </div> <br>
  <div>
    <ion-input class="input-box" label="Senha" label-placement="floating" fill="outline" placeholder="Senha"></ion-input>
  </div> <br>
  <ion-button routerLink="/tabs" class="btn">Cadastrar </ion-button>
  <ion-text routerLink="/login"> Don't have an account yet?  Sign up </ion-text>
  </ion-content>

