<ion-content [fullscreen]="true">
  <div>
    <h1 class="titulo">Login</h1>
  </div>

  <div class="input-container">
    <ion-input class="input-box" label="Email" label-placement="floating" fill="outline" placeholder="Email"></ion-input>
    <ion-input class="input-box" label="Senha" label-placement="floating" fill="outline" placeholder="Senha"></ion-input>
  </div>

  <div>
    <ion-button routerLink="/tabs" class="btn">Login</ion-button>
  </div>

  <ion-text routerLink="/cadastro">
    Don't have an account yet? Sign up
  </ion-text>
</ion-content>
