<ion-content [fullscreen]="true">
  <div>
    <h1 class="titulo">Login</h1>
  </div>

  <div class="input-container">
    <ion-input class="input-box" [(ngModel)]="email"  label="Email" label-placement="floating" fill="outline" placeholder="Email"></ion-input>
    <ion-input class="input-box" [(ngModel)]="password" type="password"  label="Senha" label-placement="floating" fill="outline" placeholder="Senha"></ion-input>
  </div>

  <div>
    <ion-button (click)="login()" class="btn">Login</ion-button>
  </div>

<div>
  <ion-text routerLink="/cadastro">
    Don't have an account yet? Sign up
  </ion-text>
</div>
</ion-content>
