<ion-tabs >

  <ion-tab-bar  class="tabs" slot="bottom">
    <ion-tab-button class="tabs1" tab="tab1" href="/tabs/tab1">
      <ion-icon class="icons" name="home-outline"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button class="tabs2" tab="tab2" href="/tabs/tab2">
      <ion-icon class="icons" name="search-outline"></ion-icon>
     
    </ion-tab-button>

    <ion-tab-button class="tabs3" tab="tab3" href="/tabs/tab3">
      <ion-icon class="icons" name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
