<ion-content class="body">

    <ion-icon class="volta" routerLink="/" name="arrow-back-outline"></ion-icon>
  <ion-text class="titulo">Developed by:</ion-text> 
  <ion-img 
  src="assets/lucas.jpg"
  alt=""
class="lucas"></ion-img>

<ion-text class="alan-text">Alan dos Santos</ion-text>
<ion-text class="alan-matr">22201302</ion-text>

<ion-img 
src="assets/alan.jpg"
alt=""
class="alan"></ion-img>

<ion-text class="lucas-text">Lucas Daim</ion-text>
<ion-text class="lucas-matr">22201300</ion-text>

</ion-content>