<ion-content class="body">
  <ion-img 
      src="assets/logo.PNG"
      alt=""
    class="logo"></ion-img>



    <ion-text class="texto">Bem-vindo ao CritiQ!
  <br>
    Explore o que os outros estão dizendo e faça escolhas mais inteligentes com base em feedback real e atual!</ion-text>
      
    <ion-button class="começar" routerLink="/login" color="light">Começar</ion-button>
    
    <!-- <a href="desenvolvedor">developed by </a> -->
    <ion-text class="desenvolvedor"routerLink="/desenvolvedor" >developed by
      <ion-icon name="arrow-forward-outline"></ion-icon></ion-text> 
</ion-content>